<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/carform}"
      th:object="${car}"
      method="post">
    Make :<input type="text" th:field="*{make}" />
    <span th:if="${#fields.hasErrors('make')}"
          th:errors="*{make}"></span><br />
    Model :<input type="text" th:field="*{model}" />
    <span th:if="${#fields.hasErrors('model')}"
          th:errors="*{model}"></span><br />
    Description :<textarea rows="5" th:field="*{description}" />
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span><br />
    <input type="submit" value="Submit" />
</form>
</body>
</html>